* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Bodoni', serif;
    background-color: #f5f5f5;
    padding: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], 
input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#tarjetasContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tarjeta {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    max-width: 200px;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h3 {
    margin: 0 0 10px;
    color: #4CAF50;
}

#errorContainer {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}


.pokemon-imagen {
    width: 100px;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}
